### EDA

In [11]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))
import pandas as pd
import psycopg2
from src.database.db_conection import connect_db

In [12]:
conn = connect_db(db_name="candidates")

In [13]:
df = pd.read_sql_query("SELECT * FROM raw_candidates", conn)
print(df.head())

C:\Users\ASUS\AppData\Local\Temp\ipykernel_2336\383074313.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM raw_candidates", conn)

       id  first_name   last_name                      email application_date  \
0  100001  Bernadette   Langworth        leonard91@yahoo.com       2021-02-26
1  100002      Camryn    Reynolds        zelda56@hotmail.com       2021-09-09
2  100003       Larue      Spinka   okey_schultz41@gmail.com       2020-04-14
3  100004        Arch      Spinka     elvera_kulas@yahoo.com       2020-10-01
4  100005       Larue  Altenwerth  minnie.gislason@gmail.com       2020-05-20

   country  yoe  seniority                         technology  \
0   Norway    2     Intern                      Data Engineer
1   Panama   10     Intern                      Data Engineer
2  Belarus    4  Mid-Level                     Client Success
3  Eritrea   25    Trainee                          QA Manual
4  Myanmar   13  Mid-Level  Social Media Community Management

   code_challenge_score  technical_interview_score
0                     3                          3
1                     2                         10
2                    10                          9
3                     7                          1
4                     9                          7

In [14]:
df.describe()

,id,yoe,code_challenge_score,technical_interview_score
count,50000.000000,50000.000000,50000.000000,50000.000000
mean,125000.500000,15.286980,4.996400,5.003880
std,14433.901067,8.830652,3.166896,3.165082
min,100001.000000,0.000000,0.000000,0.000000
25%,112500.750000,8.000000,2.000000,2.000000
50%,125000.500000,15.000000,5.000000,5.000000
75%,137500.250000,23.000000,8.000000,8.000000
max,150000.000000,30.000000,10.000000,10.000000