### carga de los datos limpios a la abse de datos

In [1]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))
import pandas as pd
from src.database.db_conection import connect_db

In [2]:
engine = connect_db()

In [3]:
df = pd.read_sql_query('SELECT * FROM "rawCandidates"', engine)
print(df.head())

   First Name   Last Name                      Email Application Date  \
0  Bernadette   Langworth        leonard91@yahoo.com       2021-02-26
1      Camryn    Reynolds        zelda56@hotmail.com       2021-09-09
2       Larue      Spinka   okey_schultz41@gmail.com       2020-04-14
3        Arch      Spinka     elvera_kulas@yahoo.com       2020-10-01
4       Larue  Altenwerth  minnie.gislason@gmail.com       2020-05-20

   Country  YOE  Seniority                         Technology  \
0   Norway    2     Intern                      Data Engineer
1   Panama   10     Intern                      Data Engineer
2  Belarus    4  Mid-Level                     Client Success
3  Eritrea   25    Trainee                          QA Manual
4  Myanmar   13  Mid-Level  Social Media Community Management

   Code Challenge Score  Technical Interview Score
0                     3                          3
1                     2                         10
2                    10                          9
3                     7                          1
4                     9                          7

In [4]:
duplicates = df[df.duplicated(subset=['First Name', 'Last Name', 'Email'], keep=False)]

if not duplicates.empty:
    print("Candidatos duplicados encontrados:")
    print(duplicates)
else:
    print("No hay candidatos duplicados.")

No hay candidatos duplicados.

In [5]:
null_counts = df.isnull().sum()

if not null_counts.empty:
    print("Valores nulos encontrados:")
    print(null_counts)
else:
    print("No hay valores nulos.")

Valores nulos encontrados:
First Name                   0
Last Name                    0
Email                        0
Application Date             0
Country                      0
YOE                          0
Seniority                    0
Technology                   0
Code Challenge Score         0
Technical Interview Score    0
dtype: int64

In [6]:
df = df.rename(columns={"First Name": "firstName", 
                        "Last Name": "lastName", 
                        "Email": "email", 
                        "country": "country",
                        "Application Date": "applicationDate",
                        "YOE": "yearsOfExperience",
                        "Senority": "seniority",
                        "Technology": "technology",
                        "Code Challenge Score": "codeChallengeScore",
                        "Technical Interview Score": "technicalInterviewScore"})

print(df.head())

    firstName    lastName                      email applicationDate  Country  \
0  Bernadette   Langworth        leonard91@yahoo.com      2021-02-26   Norway
1      Camryn    Reynolds        zelda56@hotmail.com      2021-09-09   Panama
2       Larue      Spinka   okey_schultz41@gmail.com      2020-04-14  Belarus
3        Arch      Spinka     elvera_kulas@yahoo.com      2020-10-01  Eritrea
4       Larue  Altenwerth  minnie.gislason@gmail.com      2020-05-20  Myanmar

   yearsOfExperience  Seniority                         technology  \
0                  2     Intern                      Data Engineer
1                 10     Intern                      Data Engineer
2                  4  Mid-Level                     Client Success
3                 25    Trainee                          QA Manual
4                 13  Mid-Level  Social Media Community Management

   codeChallengeScore  technicalInterviewScore
0                   3                        3
1                   2                       10
2                  10                        9
3                   7                        1
4                   9                        7

In [7]:
df["HiredStatus"] = (df["codeChallengeScore"] >= 7) & (df["technicalInterviewScore"] >= 7)
df["HiredStatus"] = df["HiredStatus"].map({True: "Yes", False: "No"})
print(df.head())

    firstName    lastName                      email applicationDate  Country  \
0  Bernadette   Langworth        leonard91@yahoo.com      2021-02-26   Norway
1      Camryn    Reynolds        zelda56@hotmail.com      2021-09-09   Panama
2       Larue      Spinka   okey_schultz41@gmail.com      2020-04-14  Belarus
3        Arch      Spinka     elvera_kulas@yahoo.com      2020-10-01  Eritrea
4       Larue  Altenwerth  minnie.gislason@gmail.com      2020-05-20  Myanmar

   yearsOfExperience  Seniority                         technology  \
0                  2     Intern                      Data Engineer
1                 10     Intern                      Data Engineer
2                  4  Mid-Level                     Client Success
3                 25    Trainee                          QA Manual
4                 13  Mid-Level  Social Media Community Management

   codeChallengeScore  technicalInterviewScore HiredStatus
0                   3                        3          No
1                   2                       10          No
2                  10                        9         Yes
3                   7                        1          No
4                   9                        7         Yes

In [8]:
print(df.head(10))

    firstName    lastName                      email applicationDate  \
0  Bernadette   Langworth        leonard91@yahoo.com      2021-02-26
1      Camryn    Reynolds        zelda56@hotmail.com      2021-09-09
2       Larue      Spinka   okey_schultz41@gmail.com      2020-04-14
3        Arch      Spinka     elvera_kulas@yahoo.com      2020-10-01
4       Larue  Altenwerth  minnie.gislason@gmail.com      2020-05-20
5        Alec      Abbott   juanita_hansen@gmail.com      2019-08-17
6     Allison      Jacobs   alba_rolfson27@yahoo.com      2018-05-18
7         Nya      Skiles   madisen.zulauf@gmail.com      2021-12-09
8        Mose       Lakin   dale_murazik@hotmail.com      2018-03-13
9    Terrance       Zieme       dustin31@hotmail.com      2022-04-08

             Country  yearsOfExperience  Seniority  \
0             Norway                  2     Intern
1             Panama                 10     Intern
2            Belarus                  4  Mid-Level
3            Eritrea                 25    Trainee
4            Myanmar                 13  Mid-Level
5           Zimbabwe                  8     Junior
6  Wallis and Futuna                 19    Trainee
7            Myanmar                  1       Lead
8              Italy                 18       Lead
9        Timor-Leste                 25       Lead

                          technology  codeChallengeScore  \
0                      Data Engineer                   3
1                      Data Engineer                   2
2                     Client Success                  10
3                          QA Manual                   7
4  Social Media Community Management                   9
5           Adobe Experience Manager                   2
6                              Sales                   2
7                           Mulesoft                   2
8  Social Media Community Management                   7
9                             DevOps                   2

   technicalInterviewScore HiredStatus
0                        3          No
1                       10          No
2                        9         Yes
3                        1          No
4                        7         Yes
5                        9          No
6                        9          No
7                        5          No
8                       10         Yes
9                        0          No

In [9]:
df["idCandidates"] = df.index + 1 
column_order = ['idCandidates'] + [col for col in df.columns if col != 'idCandidates']
df = df[column_order]

print(df.head())

   idCandidates   firstName    lastName                      email  \
0             1  Bernadette   Langworth        leonard91@yahoo.com
1             2      Camryn    Reynolds        zelda56@hotmail.com
2             3       Larue      Spinka   okey_schultz41@gmail.com
3             4        Arch      Spinka     elvera_kulas@yahoo.com
4             5       Larue  Altenwerth  minnie.gislason@gmail.com

  applicationDate  Country  yearsOfExperience  Seniority  \
0      2021-02-26   Norway                  2     Intern
1      2021-09-09   Panama                 10     Intern
2      2020-04-14  Belarus                  4  Mid-Level
3      2020-10-01  Eritrea                 25    Trainee
4      2020-05-20  Myanmar                 13  Mid-Level

                          technology  codeChallengeScore  \
0                      Data Engineer                   3
1                      Data Engineer                   2
2                     Client Success                  10
3                          QA Manual                   7
4  Social Media Community Management                   9

   technicalInterviewScore HiredStatus
0                        3          No
1                       10          No
2                        9         Yes
3                        1          No
4                        7         Yes

In [10]:
df.to_sql("transformedCandidates", engine, if_exists="replace", index=False)
print("Datos insertados correctamente")

Datos insertados correctamente

In [12]:
df = pd.read_sql_query('SELECT * FROM "transformedCandidates"', engine)
print(df.head())

   idCandidates   firstName    lastName                      email  \
0             1  Bernadette   Langworth        leonard91@yahoo.com
1             2      Camryn    Reynolds        zelda56@hotmail.com
2             3       Larue      Spinka   okey_schultz41@gmail.com
3             4        Arch      Spinka     elvera_kulas@yahoo.com
4             5       Larue  Altenwerth  minnie.gislason@gmail.com

  applicationDate  Country  yearsOfExperience  Seniority  \
0      2021-02-26   Norway                  2     Intern
1      2021-09-09   Panama                 10     Intern
2      2020-04-14  Belarus                  4  Mid-Level
3      2020-10-01  Eritrea                 25    Trainee
4      2020-05-20  Myanmar                 13  Mid-Level

                          technology  codeChallengeScore  \
0                      Data Engineer                   3
1                      Data Engineer                   2
2                     Client Success                  10
3                          QA Manual                   7
4  Social Media Community Management                   9

   technicalInterviewScore HiredStatus
0                        3          No
1                       10          No
2                        9         Yes
3                        1          No
4                        7         Yes

In [13]:
df.count()

idCandidates               50000
firstName                  50000
lastName                   50000
email                      50000
applicationDate            50000
Country                    50000
yearsOfExperience          50000
Seniority                  50000
technology                 50000
codeChallengeScore         50000
technicalInterviewScore    50000
HiredStatus                50000
dtype: int64